<header class="header full-width">
  <div class="header-content container">
    <h1>AskExperts</h1>
    <nav>
      <a href="/index">Home</a>
      <a href="/case">Case study</a>
      <a href="/team">Team</a>
      <a href="/about">About</a>
    </nav>
    <button popovertarget="popup">Login</button>

    <div id="popup" popover="auto">
      <h2>Dashboard Login</h2>
      <input name="email" type="email" placeholder="Your mail address" required />
      <input name="password" type="password" placeholder="Password" required />
      <button type="submit">Go to dashboard</button>
    </div>
  </div>
</header>

<style>
  header {
    background-color: var(--bg-header);
    color: var(--white);

    @media (max-width: 768px) {
      .header-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem;
        gap: 1rem;
      }
    }

    .header-content {
      display: flex;
      padding: 38px;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;

      h1 {
        color: var(--white);
        text-decoration: none;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 105%;
      }

      nav {
        display: flex;
        gap: 1.5rem;

        a {
          color: var(--white);
          text-decoration: none;
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      button {
        display: flex;
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: var(--yellow);
      }

      #popup::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(16px);
      }

      [popover] {
        opacity: 0;
        translate: 0 -100%;
        background-color: var(--black);
        color: var(--white);

        padding: 5rem 4.25rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 1.875rem;
        gap: 1.875rem;

        transition: 0.6s;
        transition-property: opacity, display, overlay, translate;
        transition-behavior: allow-discrete;

        &:popover-open {
          display: flex;

          opacity: 1;
          translate: 0 0;

          @starting-style {
            opacity: 0;
            translate: 0 100%;
          }
          input {
            appearance: none;
            border-radius: 0.25rem;
            border: 1px solid #e3e3e3;
            background: #fff;
            color: #111;
            padding: 1rem 3rem;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) inset;
          }

          button {
            border: none;
            border-radius: 999px;
            background: var(--yellow);
            color: var(--bg-black);
            font-weight: 600;
            padding: 1rem 1.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
</style>
